.about {
  background-color: var(--color-beige);
  position: relative;
  display: flex;
  // padding: calc(2rem + 120px) 0;
  padding: calc(2rem + 120px) 0 0;
  justify-content: center;
  overflow: hidden;
  

  @include media-query(lg) {
    // padding: calc(1rem + 120px) 0;
    padding: calc(1rem + 120px) 0 0 0;
  }

  &__inner {
    @include panel-container-small;
    padding: 0;
    margin: 0 1.5rem;
    //text-align: center;

    @include media-query(lg) {
      padding: 4rem 0 5rem 0;
      display: flex;
      flex-direction: column;
    }
  
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:last-of-type {
      @include media-query(lg) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__image {
    margin-bottom: 3rem;
    max-width: 250px;
    position: relative;
    z-index: 1;
    overflow: visible;

    // &:hover {
    //   .about__image-bg2 {
    //     animation: spin 8s linear infinite;
    //   }
    // }



    @include media-query(lg) {
      margin-bottom: 2rem;
      width: 30%;
    }
    
    &--reverse {
      order: 2;
    }

    &-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: var(--color-green-lighter);
      border-radius: 50%;
      z-index: -1;

      // &:hover + .about__image-bg2 {
      //     animation: spin 8s linear infinite;
        
      // }
    }

    &-bg2 {
      animation: spin 8s linear infinite;
      top: -35px;
      bottom: 0;
      left: -35px;
      // background-color: var(--color-green-dark);
      background-color: transparent;
      border: dashed 2px var(--color-green-dark);
      z-index: -2;

      @include media-query(lg) {
        top: -60px;
        left: -60px;
      }


      
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
  }

  &__text {
    padding: 0 0 1.5rem 0;
    text-align: center;

    @include media-query(lg) {
      text-align: left;
      padding: 0 1.5rem 1.5rem 3.5rem;
      width: 70%;
    }

    &--reverse {
      order: 1;

      @include media-query(lg) {
        padding: 1.5rem 3.5rem 1.5rem 1.5rem;
      }
    }

    &-title {
      padding-bottom: 2rem;
    }

    &-summary {
      line-height: 1.65;
      padding-bottom: 2.5rem;

    }
  }

  h4 {
    font-size: 2.2rem;
  }

  &__bio {
    margin-bottom: 2.5rem;
    color: var(--color-text);
  }
}