.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  // font-size: get-font-size(500);
  background-color: transparent;
  border-radius: 24px;
  border: 0;
  color: var(--color-action-text);
  cursor: pointer;
  display: inline-block;
  font-family: get-font(base);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 1;
  margin: 0;
  padding: 14px 24px;
  text-decoration: none;
  transition: background-color .1s ease-in, border-color .1s ease-in, color .1s ease-in;



  // &:hover,
  // &:focus {
  //   background-color: var(--color-theme-primary);
  //   border-color: var(--white);
  //   color: var(--color-white);
  // }

  &__alternate {
    background-color: transparent;
    color: var(--color-white);

    // &:hover,
    // &:focus {
    //   background-color: var(--color-theme-primary);
    //   border-color: var(--color-white);
    //   color: var(--color-white);

    //   svg {
    //     stroke: var(--color-white);
    //   }
    // }
  }

  &__arrow-link {
    @include button-reset;
    // background-color: transparent;
    color: var(--color-black);
    border: 0;
    position: relative;
    display: inline-block;
    font-weight: 700;
    //color: var(--color-white);

    &:hover,
    &:focus {
      // background-color: transparent;
      // color: var(--color-black);
      filter: none;
  
      &::after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        background-color: var(--color-green-dark);
        width: 100%;
        left: 0;
        right: 0;
        bottom: -6px;
      }
    }

    svg {
      // margin-left: .3rem;
      width: 16px;
      top: 3px;
      position: relative;
    }

    &--large {
      color: var(--color-black);
      font-size: get-font-size(500);
      font-weight: 700;

      svg {
        position: relative;
        top: 4px;
        width: 18px;
      }
    }
  }

  &__external-link {
    @include button-reset;
    border: 0;
    font-size: get-font-size(400);
    font-weight: 700;
    position: relative;
    display: inline-block;

    &:hover,
    &:focus {
      // background-color: transparent;
      // color: var(--color-black);
      filter: none;
  
      &::after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        background-color: var(--color-green-dark);
        width: 100%;
        left: 0;
        right: 0;
        bottom: -6px;
      }
    }

    

    // &:hover,
    // &:focus {
    //   filter: none;
    // }

    svg {
      transform: rotate(-45deg);
      position: relative;
      top: 3px;
      width: 16px;
    }


    &--large {
      color: var(--color-black);
      font-size: get-font-size(500);
      font-weight: 700;

      svg {
        position: relative;
        width: 18px;
        top: 4px;
      }
    }
  }
}



.button:focus:hover {
  outline: none;
}

.button:active {
  transform: scale(0.99);
}

.button--fancy {
  border-radius: 999px;
  border: 2px solid var(--color-green-dark);
  color: var(--color-green-dark);
  position: relative;
  background-color: transparent;
  transition: all .35s;
  z-index: 1;
  overflow: hidden;

  &::before,
  &::after {

    content: "";
    height: 100%;
    left: -4px;
    right: 4px;
    position: absolute;
    top: -100%;
    transition: all .35s;
    width: calc(100% + 8px);
    z-index: -1;
  }

  &:before {
    background: var(--color-green-dark);
    opacity: .5;
  }

  &:after {
    transition-delay: .2s;
    background: var(--color-green-dark);
  }

  &:hover {
    color: #fff;
    // background-color: var(--color-green-dark);
  }

  &:hover:before,
  &:hover:after {
    top: 0;
  }
}



.button--arrow {
  // background-color: var(--color-theme-primary);
  color: var(--color-white);
  // font-size: get-font-size(600);
  //text-transform: uppercase;

  svg {
    margin-left: .3rem;
    stroke: var(--color-white);
  }

  &:hover {
    filter: none;

    svg {
      animation: arrow-animation .3s;
    }
  }

  &:hover,
  &:focus {
    //background-color: var(--color-white);
    color: var(--color-action-text);

    svg {
      stroke: var(--color-white);
    }
  }


}

.button--inverse {
  background-color: var(--color-white);
  color: var(--color-theme-primary);

  svg {
    stroke: var(--color-theme-primary);
  }

  &:hover,
  &:focus {
    background-color: var(--color-theme-primary);
    color: var(--color-white);

    svg {
      stroke: var(--color-white);
    }
  }
}


@keyframes arrow-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}