.contact-panel {
    position: relative;
    background-color: var(--color-sand);
    padding: 2rem 0 4rem;

    @include media-query(lg) {
        padding: calc(3rem + 120px) 0;
      }

    &__inner {
        @include panel-container;
        // padding: 1.5rem 0;
    }

    &__row {
        display: flex;
        flex-direction: column;

        @include media-query(md) {
            flex-direction: row;
            gap: 4rem;
        }

        @include media-query(lg) {
            gap: 6rem;
        }
    }

    &__column {
        @include media-query(md) {
            &:first-of-type {
                width: 60%;
            }

            &:last-of-type {
                width: 40%;
            }
        }

    }

    &__summary {
        line-height: 1.65;
        margin-bottom: 2rem;
        color: var(color--text);

        @include media-query(lg) {
            margin-bottom: 3rem;
        }
    }

    &__links {
        display: inline-flex;
        margin-bottom: 2rem;
        flex-wrap: wrap;


        @include media-query(lg) {
            flex-direction: column;
        }

        svg {
            // fill: var(--color-blue);
            stroke: var(--color-blue);
        }
        
        a {
            margin-bottom: 2rem;
            margin-right: 2rem;
            width: max-content;
        }

        .button__arrow-link {
            svg {
                display: none;
            }
        }
    }

    .button[type=submit] {
        display: block;
        margin: auto;

        @include media-query(md) {
            display: inline-block;
        }
    }

    &__leaf {
        
        display: block;
        position: absolute;
        top: -130px;
        right: 10%;
        z-index: 1;
        width: 180px;
    
        @include media-query(md) {
          left: 25%;
          top: -130px;
          width: 200px;
        }
    
        @include media-query(xxl) {
          left: 25%;
          top: -180px;
          width: 230px;
        }
    }
}
  
  