.work-panel {
  background-color: var(--color-green-lighter);
  padding: calc(1rem + 120px) 0;
  position: relative;
  

  @include media-query(lg) {
    padding: calc(3rem + 120px) 0 calc(4rem + 120px);

    // &--bottom {
    //   padding-bottom: 0;

    //   .work-panel__image {
    //     border-radius: 0 75px 0 0;
    //   }
    // }
  }

  @include media-query(lg) {
    padding: calc(2.5rem + 120px) 0;
  }


  &__inner {
    @include panel-container;

    @include media-query(lg) {
      padding: 3rem 1.5rem;
    }

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 2rem;

    @include media-query(md) {
      grid-template-columns: repeat(2, 1fr);
      // grid-auto-rows: 1fr;
      gap: 5rem;
    }
  }

  &__item {
    box-sizing: content-box;

    // border: 1px solid var(--color-green-dark);
    // padding: 1.5rem;
    // border-radius: 15px;
    // background-color: rgba(255, 255, 255, 0);

    // @include media-query(lg) {
    //   align-items: center;
    //   display: flex;
    //   margin: 0 auto;
    // }
  }

  &__heading {
    text-transform: uppercase;

    &-wrapper {
      margin-bottom: 3rem;
      text-align: center;

      @include media-query(lg) {
        margin-bottom: 8rem;
      }
    }
  }

  &__image {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    // padding-bottom: 2rem;
    // padding: 2.5rem 1.5rem;

    // img {
    //   @include media-query(xxl) {
    //     max-width: 125%;
    //     margin-left: -25%;
    //   }
    //  }

    // &--reverse {

    //   img {
    //     @include media-query(xxl) {
    //       margin-left: unset;
    //     }
    //    }
    // }

    // @include media-query(lg) {
    //   border-radius: 0 75px 75px 0;
    //   margin: 0;
    //   padding: 6rem 6rem 6rem 0;
    //   // position: relative;

    //   // &:after {
    //   //   background-color: inherit;
    //   //   bottom: 0;
    //   //   content: '';
    //   //   position: absolute;
    //   //   right: 75px;
    //   //   top: 0;
    //   //   width: 100vw;
    //   //   z-index: -1;
    //   // }

    //   &--reverse {
    //     border-radius: 75px 0 0 75px;
    //     margin: 0;
    //     order: 2;
    //     padding: 6rem 0 6rem 6rem;

    //     // &:after {
    //     //   left: 75px;
    //     //   right: unset;
    //     // }
    //   }
    // }
  }

  &__tags {
    margin-bottom: 1.5rem;
  }

  &__button-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    padding: 0rem 1.5rem 2.5rem 1.5rem;
    text-align: center;

    @include media-query(lg) {
      grid-template-columns: repeat(2, 1fr);
      padding: 1.5rem 0;
      text-align: left;
    }


    &-title {
      color: var(--color-black);
      display: none;
      font-family: get-font(base);
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 1.5rem;
      text-transform: none;

      @include media-query(lg) {
        font-size: 24px;
        display: block;
      }

      &--mobile {
        display: block;
        text-align: center;
        margin-bottom: 1.5rem;

        @include media-query(md) {
          display: none;
        }
      }
    }
    

    &-summary {
      font-size: 18px;
      line-height: 1.65;
      padding-bottom: 1rem;

      @include media-query(md) {
        padding-bottom: 2.5rem;
      }
    }
  }
}