.hero {
  background-color: var(--color-green-dark);
  color: var(--color-hero-heading);
  position: relative;

  &__heading {
    display: inline;
    font-family: get-font(serif);
    font-weight: 400;
    line-height: 1.1;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;

    @include media-query(sm) {
      display: inline-block;
    }

    &-wrapper {
      margin-bottom: 3rem;
      min-height: 301px;

      @include media-query(sm) {
        min-height: 235px;
      }

      @include media-query(sm) {
        min-height: auto;
      }
    }

    &-emphasis {
      font-weight: 600;
    }

    &-row {
      &:first-of-type {
        min-height: 97px;
        margin-bottom: 1rem;

        @include media-query(sm) {
          min-height: unset;
        }

        .hero__heading {
          font-weight: 400;
          // font-style: italic;

          &:last-of-type {
            // display: block;
            font-weight: 600;
            margin-bottom: 0;
          }



        }
      }
    }
  }


  h2 {
    font-size: 28px;
    font-family: 'Europa';
    max-width: 60%;
    font-weight: normal;
    line-height: 1.4;
    color: var(--color-hero-heading);
    text-transform: none;
  }

  &__cursor {
    animation: blink 1s cubic-bezier(0, 0, 0, 1) infinite;
  }

  &__inner {
    @include panel-container;

    align-items: flex-start;
    display: flex;
    padding: 3.5rem 1.25rem 0rem 1.25rem;
    position: relative;

    @include media-query(md) {
      padding: 5.5rem 2rem 0rem 2rem;
    }
  }

  &__leaf {
    display: block;
    position: absolute;
    bottom: -180px;
    right: 10%;
    z-index: 1;
    width: 150px;

    @include media-query(lg) {
      right: 25%;
      bottom: -170px;
      width: 170px;
    }


    @include media-query(xxl) {
      right: 25%;
      bottom: -180px;
      width: 200px;
    }
  }

  .button--arrow {
    margin-top: 2.5rem;
    border: 1px solid #fff;
    display: inline-block;
    
    &:hover {
      svg {
        stroke: #fff;
      }
    }

    @include media-query(sm) {
      display: none;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}