{% from "macros/macros.njk" import button_link %}

{# {% if props.backgroundColor === 'white' %}
  {% set colorHexPanel = 'var(--color-white)' %}
  {% set colorHexCard = 'transparent' %}
{% elseif props.backgroundColor === 'grey' %}
  {% set colorHexPanel = 'var(--color-grey-light)' %}
  {% set colorHexCard = 'transparent' %}
{% elseif props.backgroundColor === 'green' %}
  {% set colorHexPanel = 'var(--color-theme-primary)' %}
  {% set colorHexCard = 'var(--color-white)' %}
{% elseif props.backgroundColor === 'light green' %}
  {% set colorHexPanel = 'var(--color-bg-light);' %}
  {% set colorHexCard = 'transparent' %}
{% else %}
  {% set colorHexPanel = 'var(--color-white)' %}
  {% set colorHexCard = 'transparent' %}
{% endif %} #}

<section class="about">
  <div class="about__divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="about__inner" style="background-color: {{colorHexCard}};">
    <div class="about__row">
      <h2>{{ props.title }}</h2>
      <h3 class="section__heading">{{ props.titleSecondary }}</h3>
    </div>
    <div class="about__row">


        <div class="about__image{% if props.imagePosition === 'right' %} about__image--reverse{% endif %}">
          {% if props.imageURL.length %}
            {% image props.imageURL,
            props.imageAlt,
            null,
            "lazy",
            "100vw",
            ['300', '400', '576', '600', '730'] %}
          {% endif %}
        </div>


        <div class="about__text{% if props.imagePosition === 'right' %} about__text--reverse{% endif %}">
          <h4 class="section__heading">{{ props.titleSummary }}</h4>
          <div class="about__bio">{{ props.summary | safe }}</div>
          {% if props.buttonText.length and props.buttonPath.length %}
            {{ button_link(props.buttonText, props.buttonPath, true) }}
          {% endif %}
        </div>

    </div>
  </section>

  <style>
    .about__divider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .about__divider svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 120px;
    }

    .about__divider .shape-fill {
      fill: #569A9F;
    }
  </style>