{% for block in page_sections %}

    {% if block.template === 'about' %}
        {{ component('about', {
            title: block.title,
            titleSecondary: block.titleSecondary,
            titleSummary: block.titleSummary,
            summary: block.summary,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath,
            imageURL: block.imageURL,
            imageAlt: block.imageAlt,
            imagePosition: block.imagePosition,
            backgroundColor: block.backgroundColor,
            fullBleed: block.fullBleed
        }) }}

    {% elseif block.template === 'skills' %}
        {{ component('skills', {
            title: block.title,
            titleSecondary: block.titleSecondary,
            buttonText: block.buttonText,
            buttonPath: block.buttonPath,
            summary: block.summary,
            items: block.items
        }) }}

    {% elseif block.template === 'featured_work' %}
        {{ component('featured_work', {
            title: block.title,
            titleSecondary: block.titleSecondary,
            items: block.items
        }) }}

    {% elseif block.template === 'contact' %}
        {{ component('contact', {
            title: block.title,
            titleSecondary: block.titleSecondary,
            summary: block.summary
        }) }}
    
    {% endif %}
{% endfor %}