<footer role="contentinfo" class="site-foot">
  <div class="site-foot__wrapper">
    <div class="site-foot__row">
      <a class="site-foot__logo" title="Site Logo - click to return home" href="/">{% svg "ck-logo-2" %}</a>
      <div class="site-foot__credit">
        <p>Copyright ©<span id="copyright-year"></span> Corey Keller. All rights reserved.</p>
        <script>
          document
            .getElementById('copyright-year')
            .innerText = new Date().getFullYear();
        </script>
      </div>
      {% include "partials/components/social-icons.njk" %}
    </div>
  </div>
</footer>